* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    font-size: 1.4rem;
}
.container {
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 3rem 6rem;
}
.container_info {
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 0.1rem;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
    float: left;
}
hr {
    width: 4rem;
    margin-top: 1rem;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
}
li {
    font-size: 1.6rem;
    line-height: 3rem;
}
a {
    text-decoration: none;
}
.about {
    min-height: 40rem;
    margin-bottom: 3rem;
}
.about_me {
    display: flex;
    align-items: center;
}
.foto {
    width: 45rem;
}
.foto img {
    width: 100%;
}
.descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
    margin-right: 2rem;
}
.profession {
    margin-top: 1.5rem;
    font-style: italic;
    font-size: 1.8rem;
}
.profile {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}
.title_profile {
    margin-top: 2rem;
}
.text-profile {
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
}
.education {
    min-height: 20rem;
    display: flex;
    flex-direction: column;
}
.project {
    min-height: 36rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.project_img {
    width: 43rem;
    margin-top: 2rem;
}
.project_img img {
    width: 100%;
}
.project_descr {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-top: 1rem;
}
.languages {
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 2.6rem;
}
.language_rus {
    margin-top: 2rem;
}
.contacts {
    display: flex;
    flex-direction: column;
    min-height: 20rem;
    padding: 4rem;
    background-color: #faf0e6;
    width: 32rem;
    height: 30rem;
    border-radius: 30px 0 0 0;
    margin-top: -4rem;
}
.contacts li {
    line-height: 4rem;
}
.info {
    display: flex;
}
.left-block {
    display: flex;
    flex-direction: column;
}
.right-block {
    display: flex;
    flex-direction: column;
}
.skills {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    padding: 4rem;
    min-height: 30rem;
    background-color: #fff0f5;
    width: 32rem;
    height: 37rem;
    border-radius: 0 30px 0 0;
}
.skills li {
    line-height: 4.4rem;
    position: relative;
    margin-left: 2rem;
}
.skills li::before {
    content: "";
    display: block;
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 100%;
    background-color: black;
    top: 1.9rem;
    left: -2rem;
}
.skill {
    display: flex;
}
.codes {
    min-height: 30rem;
    padding-top: 0;
    background-color: aliceblue;
}
.code {
    display: flex;
    flex-direction: column;
}
.code_descr {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-top: 2rem;
}
.code_example {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-top: 2rem;
    background-color: #000;
    color: #fff;
    padding: 1rem;
}
span.violet {
    color: rgb(178, 148, 187);
}
span.orange {
    color: rgb(222, 147, 95);
}
span.blue {
    color: rgb(137, 182, 197);
}
span.lime {
    color: rgb(181, 189, 104);
}